# Base de données SQLite
*.db
*.sqlite
*.sqlite3

# Environnement Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables d'environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log


